# Inputs
**.txt

**/__pycache__/
**.pyc
**.pyd
**.pyo
**.egg-info/
.pytest_cache/

# Distributions
dist/
build/
*.egg
*.whl

# Virtual environment
venv/
.venv/
env/
.env/

# Editor/IDE files
.vscode/
.idea/
*.swp
*.bak
*.swo